extends ../../partials/layout.pug
include ../../partials/mixins.pug

block content
  include ../../partials/nav.pug

  header.products
    h1.page-title Assets

  .container-fluid.our-products
    //- +breadbrumbs('Home', 'Products')

    .row
      .col-sm-12
        h2.section-header.text-center API:s / Widgets / Datasets

    .row.puffs
      .col-sm-6.col-md-4.col-lg-3
        a(href="/assets/platsbanken")
          +puff('api-puff.jpg', 'Platsbanken', 'All the current job postings available on Platsbanken', 'API')
      .col-sm-6.col-md-4.col-lg-3
        a(href="/assets/occupations")
          +puff('occupation-puff.jpg', 'Occupation', 'Occupational description of 450 different occupations, with forecasts', 'API')
      .col-sm-6.col-md-4.col-lg-3
        a(href="/assets/historical-job-postings")
          +puff('data-analysis-puff.jpg', 'Historical Job Postings', 'All job postings from Platsbanken 2006-2016', 'DATASETS')
      .col-sm-6.col-md-4.col-lg-3
        a(href="/assets/occupation-forecasts")
          +puff('dev-services-puff.jpg', 'Occupation Forecasts', 'Short and long-term forecasts of labour demand for different occupations', 'API')
      .col-sm-6.col-md-4.col-lg-3
        a(href="/assets/ontology")
          +puff('jobb-rymden.png', 'Ontology', 'Ontology created from job postings.(This is a prototype service, with full functionality)', 'API')
