extends ../../partials/layout.pug
include ../../partials/mixins.pug

block content
  include ../../partials/nav.pug

  header.products
    h1.page-title Assets

  .product-wrapper
    .breadbrumbs-indent
      +breadbrumbs('Home', 'Assets', 'Occupation Forecast')
    +product-menu(1, 4)
    .product-content
      h2 Occupation Forecasts
      br
      p Contains 5 and 10 years forecasts for differens occupations. Forecasts made from in-depth interviews with employers.

      .downloadable
        p
          a(href="https://www.arbetsformedlingen.se/download/18.68f3b2e415576fa900eb1966/1468225249925/Licens%2Bf%C3%B6r%2Banv%C3%A4ndning%2Bav%2BArbetsf%C3%B6rmedlingens%2B%C3%B6ppna%2Bdata%2B.pdf" target="_blank") Licence
          | (PDF in Swedish)
        a(href="https://www.arbetsformedlingen.se/download/18.68f3b2e415576fa900eb1966/1468225249925/Licens%2Bf%C3%B6r%2Banv%C3%A4ndning%2Bav%2BArbetsf%C3%B6rmedlingens%2B%C3%B6ppna%2Bdata%2B.pdf" download)
          .button.download Download
      .downloadable
        p
          a(href="https://www.arbetsformedlingen.se/download/18.71c9e39c15c9ec782dd66724/1498053710657/API%2BV%C3%A4gledning%2B-%2BTj%C3%A4nstegr%C3%A4nssnitt%2B-%2Bv1.3.pdf" target="_blank") API
          | (PDF in Swedish)
        a(href="https://www.arbetsformedlingen.se/download/18.71c9e39c15c9ec782dd66724/1498053710657/API%2BV%C3%A4gledning%2B-%2BTj%C3%A4nstegr%C3%A4nssnitt%2B-%2Bv1.3.pdf" download)
          .button.download Download
