extends ../../partials/layout.pug
include ../../partials/mixins.pug

block content
    include ../../partials/nav.pug

    header.products
        h1.page-title Assets

    .product-wrapper
        .breadbrumbs-indent
            +breadbrumbs('Home', 'Assets', 'Job market ontology')
        +product-menu(1, 5)

        .product-content
                +product-content('Headerontologi.png', 'Job market ontology', 'Description','https://drive.google.com/file/d/0B6IMdz5lEZJ1NllIVHZvQ1BhRGc/preview','The job market is dynamical. It is an ongoing demand on new jobs and new competences. For effective matching between employers and jobseekers a common language that the machines support is needed. \n \n Job market ontology is a project which uses modern technology to describe the job market for making more effective matching and better user experiences.', 'Kluster.png','The ontology is created by automatically analysing 6.3 millions ads and extracting mentioned competencese. With intelligent algorithms the ontology knows how the competences is related to each other.', 'What does your competences relates to?',' The first version of the Job market ontology consists of a limited set of competences. Here you can explore them and see how they relates to each other. \n \n The state of the ontology is beta and it is changing to continuously get improved everyday.',' Learn more about the ontology or start use the API right away')
