extends ../partials/layout.pug
include ../partials/mixins.pug

block content
  include ../partials/nav.pug

  .jumbotron
    .container
      h1.tagline JobTech Developer
      p.subtitle Powerful APIs, widgets and datasets for you to develop the missing app

  .container-fluid.work-in-progress
    .row
      .col-lg-12
        p This website is a work in progress. We invite you to explore JobTech and give us your valuable feedback. <a href="mailto:jonas.sodergren@arbetsformedlingen.se">Email us</a>


  .container-fluid.our-products
    //- .row
    //-   .col-sm-12
    //-     h2.section-header.text-center Explore our products
    //-     p.section-description.text-center A collection of open APIs from the Swedish Public Employment Service, Arbetsförmedlingen
    .row.puffs
      .col-sm-6.col-md-4.col-lg-3
        a(href="/assets/platsbanken")
          +puff('api-puff.jpg', 'Platsbanken', 'All the current job postings available on Platsbanken', 'API')
      .col-sm-6.col-md-4.col-lg-3
        a(href="/assets/historical-job-postings")
          +puff('data-analysis-puff.jpg', 'Historical Job Postings', 'All job postings from Platsbanken 2006-2016', 'DATASETS')
      .col-sm-6.col-md-4.col-lg-3
        a(href="/assets/occupations")
          +puff('occupation-puff.jpg', 'Occupation', 'Occupational description of 450 different occupations, with forecasts', 'API')
      .col-sm-6.col-md-4.col-lg-3.hidden-md
        a(href="/assets/occupation-forecasts")
          +puff('dev-services-puff.jpg', 'Occupation Forecasts', 'Short and long-term forecasts of labour demand for different occupations', 'API')

    a(href="/assets").button.view-products View all assets

  .container-fluid.our-vision
    .row
      .col-md-6
        .box
          img.img-responsive(src="/images/vision-startpage.jpg")
      .col-md-6.col-lg-4
        .box.vertical-align
          div.center-when-mobile
            h2.section-header Our vision
            p.section-description
              <div>
              p <b>It´s quite simple.</b>

              p Every day a person goes to a job they dislike or have no job to go to at all, is a loss. Not only for the individual, but also for the employer who has the potential to grow if they find the right person. This Sweden can not afford. 

              p We belive in using technology to let people connect in new ways. It will help people find their dream job and it will make employers find top candidates easier. By this our collective talents are better used and Sweden becomes a better place to live in.
              </div>

  .container-fluid.principles
    .row
      .col-md-6.col-lg-4
        .box.vertical-align
          div.center-when-mobile
            h2.section-header Guiding principles
            p.section-description
              <div>
              p <b>No matter what we do, these principles will guide us:</b>
              p
              li Collaborate - Work with others, they know something you do not know.
              li Diversity by design - Everyone is unique; one-size solution does not fit all. 
              li Keep it simple - If people understand, they can contribute!
              </div>
      .col-md-6
        .box
          img.img-responsive(src="/images/compass-startpage.jpg")

  //- .container-fluid.sharing-insights
  //-   .row
  //-     .col-md-6.col-md-offset-3
  //-       h2.section-header.text-center Sharing insights
  //-       p.section-description.text-center We believe that inspiration can come in all different forms and from anywhere. So we’ve put together our learnings and insights that will hopefully help you in your journey.
  //-       a(href="/insights").button.view-videos View videos

  script.
    $('.box').matchHeight();
